version: "3.7"

services:
  coturn:
    image: coturn/coturn:latest
    container_name: nexus_coturn
    network_mode: "host"
    environment:
      - TURN_PORT=3478
      - TURN_PORT_TLS=5349
      - TURN_SECRET=nexus_secret_turn_key_2026
      - TURN_SERVER_NAME=nexus_coturn
      - TURN_REALM=nexus.local
    command:
      - --log-file=stdout
      - --external-ip=$EXTERNAL_IP
      - --listening-port=3478
      - --tls-listening-port=5349
      - --min-port=49152
      - --max-port=65535
      - --user=nexus:nexus123
      - --realm=nexus.local
      - --stale-nonce=600
      - --fingerprint
      - --no-cli
      - --no-tls
      - --no-dtls
      - --lt-cred-mech
    restart: unless-stopped
