services:
  - type: web
    name: p2p-server
    env: docker
    region: frankfurt
    plan: free
    branch: main
    envVars:
      - key: PORT
        value: 8080
      - key: JWT_SECRET
        sync: false # Tells Render not to overwrite this if you manually set it in the Dashboard
      - key: ADMIN_USERNAME
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
